<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title th:text="#{app.title}"></title>
    <link href='#' th:href="@{/css/common.css}" rel="styleSheet" type="text/css" />
</head>

<body>
<div id="container">

    <header th:replace="fragments/header :: header">
        <h1>Static Header</h1>
    </header>

    <nav>
        <a class="button" href="#" th:href="@{/}">Home</a>
        <a class="button" href="#" th:text="#{properties.header}" th:href="@{/properties}"></a>
        <a class="button" href="#" th:text="#{environment.header}" th:href="@{/environment}"></a>
    </nav>

    <main>
        <h1 th:text="#{environment.header}"></h1>

        <table>
            <thead>
            <tr>
                <th scope="col">Key</th>
                <th scope="col">Value</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="entry : ${envars}">
                <td class="table-key" th:text="${entry.key}"></td>
                <td class="table-value" th:text="${entry.value}"></td>
            </tr>
            </tbody>
        </table>
    </main>

    <footer th:replace="fragments/footer :: footer">
        <h1>Static Footer</h1>
    </footer>

</div>
</body>

</html>